* {
  margin: 0;
  padding: 0;
  background-color: #191d28;
  color: #ffff;
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.header-wrapper img {
  width: 100%;
  max-width: 270px;
  height: auto;
}

.header-wrapper .select-options-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px;
}

.select-options-wrapper select {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #2e3241;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  width: 150px;
}

.select-options-wrapper select option {
  background-color: #ffff;
  color: #333;
}

.select-options-wrapper button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #2e3241;
  color: #fff;
  cursor: pointer;
}

.header-wrapper .contact-wrapper {
  display: flex;
  gap: 30px;
  position: relative;
  right: 40px;
  top: 15px;
}

.contact-wrapper .timer-counter {
  position: relative;
  left: 20px;
  top: 5px;
  border: 3px solid white;
  padding: 8px;
  border-radius: 50px;
}

.contact-wrapper a {
  position: relative;
  bottom: 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  margin: 8px;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #3dc6c1;
}

.contact-wrapper img {
  margin-right: 15px;
  mix-blend-mode: color-dodge;
  width: 20px;
  height: 16px;
}
/* Start Price Section */

.price-section {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.price-section h2 {
  opacity: 0.5;
}

.price-section .price-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: space-around;
  margin-top: 40px;
}

.price-wrapper .price-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-wrap: wrap;
}

.price-box-wrapper .price {
  font-size: 2rem;
}

.price-box-wrapper .price-color {
  color: #3dc6c1;
  font-weight: 600;
}

.price-box-wrapper .total-price {
  font-size: 3.8rem;
  font-weight: 600;
}

.price-box-wrapper span {
  font-size: 17px;
  opacity: 0.5;
}
/* Plateform section start */

.platform-headings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.platform-headings .heading {
  font-size: 1.4rem;
  opacity: 0.5;
}

.platform-section .platform-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-wrap: wrap;
  position: relative;
  top: 15px;
  right: 5px;
  font-size: 1.3rem;
  background-color: #2e3241;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px 10px;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.platform-box .text {
  background-color: #2e3241;
}

.platform-box .platform {
  display: flex;
  gap: 10px;
}

.platform-box img {
  width: 25px;
  border-radius: 50px;
}

@media screen and (max-width: 780px) {
  .header-wrapper .logo {
    max-width: 200px;
  }
  .header-wrapper .select-options-wrapper {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .contact-wrapper {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px 0 0 120px;
  }
  .contact-wrapper a {
    padding: 10px 10px;
  }
  .price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-box-wrapper .price {
    background-color: #337876;
    color: #191d28;
    text-align: center;
    border-radius: 8px;
    width: 350px;
    overflow: hidden;
  }
}
